@import "./navbar/navbar.scss";
@import "./header/header.scss";
@import "./main/blue-background.scss";
@import "./main/main-phone.scss";
@import "./main/main-invitadxs.scss";
@import "./main/main-temas.scss";
@import "./main/blue-backgraund-two.scss";
@import "./footer/footer.scss";

*{
    margin: 0px;
    padding: 0px;
    border: 0px;
    box-sizing: border-box;
}

// font-family: 'IBM Plex Sans', sans-serif;
// font-family: 'IBM Plex Mono', monospace;