footer{
    p{
        text-align: center;
        margin-top: 24px;
        color: #060A24;
    }
    .social-networks{
        display: flex;
        justify-content: space-between;
        padding-left: 63px;
        padding-right: 63px;
        margin-top: 16px;
        margin-bottom: 31px;
        a{
            color: #060A24;
        }
    }
    @media (min-width: 321px){
        display: flex;
        justify-content: space-between;
        p{
            padding-left: 100px;
            margin-top: 36px;
        }
        .social-networks{
            
            padding-right: 100px;
            margin-top: 36px;
            margin-bottom: 31px;
            a{
                padding-left: 36px;
                color: #060A24;
            }
        }
        
    }
}